body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u1 {
  position:absolute;
  left:2px;
  top:398px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:69px;
}
#u2 {
  position:absolute;
  left:714px;
  top:20px;
  width:720px;
  height:69px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:175px;
}
#u4 {
  position:absolute;
  left:0px;
  top:93px;
  width:179px;
  height:175px;
}
#u5 {
  position:absolute;
  left:2px;
  top:80px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:161px;
  background:inherit;
  background-color:rgba(251, 252, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:0px;
  top:268px;
  width:179px;
  height:161px;
}
#u7 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:120px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:0px;
  top:150px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:0px;
  top:181px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:0px;
  top:212px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:0px;
  top:240px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:701px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:858px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:933px;
  top:18px;
  width:62px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:1153px;
  top:25px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:1228px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:1298px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:1368px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:995px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:775px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
