body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u23 {
  position:absolute;
  left:2px;
  top:398px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:69px;
}
#u24 {
  position:absolute;
  left:714px;
  top:20px;
  width:720px;
  height:69px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:161px;
  background:inherit;
  background-color:rgba(251, 252, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:0px;
  top:268px;
  width:179px;
  height:161px;
}
#u27 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:173px;
}
#u28 {
  position:absolute;
  left:0px;
  top:95px;
  width:179px;
  height:173px;
}
#u29 {
  position:absolute;
  left:2px;
  top:78px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:120px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:0px;
  top:150px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:0px;
  top:181px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:0px;
  top:212px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:0px;
  top:240px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:701px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:858px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:933px;
  top:18px;
  width:62px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:1153px;
  top:25px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:1228px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:1298px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:1368px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:995px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:775px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
