body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u45 {
  position:absolute;
  left:2px;
  top:398px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:161px;
  background:inherit;
  background-color:rgba(251, 252, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:0px;
  top:268px;
  width:179px;
  height:161px;
}
#u47 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:173px;
}
#u48 {
  position:absolute;
  left:0px;
  top:93px;
  width:179px;
  height:173px;
}
#u49 {
  position:absolute;
  left:2px;
  top:78px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:69px;
}
#u50 {
  position:absolute;
  left:711px;
  top:20px;
  width:720px;
  height:69px;
}
#u51 {
  position:absolute;
  left:2px;
  top:26px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:120px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:0px;
  top:150px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:0px;
  top:181px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:0px;
  top:212px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:0px;
  top:240px;
  width:179px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:701px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:858px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:929px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:1153px;
  top:25px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:1228px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:1298px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:1368px;
  top:25px;
  width:60px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:1003px;
  top:18px;
  width:62px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:775px;
  top:18px;
  width:75px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
